@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&family=Work+Sans:wght@300;400&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1f2937;
	color: white;
	padding: 20px 300px;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
}

.nav {
	list-style-type: none;
	display: flex;
	gap: 20px;
	font-size: 18px;
	color: #e5e7eb;
}

.hero {
	display: flex;
	justify-content: space-between;
	padding: 30px 300px;
	gap: 40px;
}

.hero-left {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 10px;
}

.hero {
	background-color: #1f2937;
	color: white;
}

.hero-left-main {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.hero-left-sub {
	font-size: 18px;
	color: #e5e7eb;
}

.sign-up {
	background-color: #3882f6;
	border: none;
	color: white;
	padding: 5px 15px;
	font-size: 18px;
	font-weight: 900;
	border-radius: 8px;
}

.hero-right img {
	height: 325px;
	width: 650px;
}

.info-boxes {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	align-items: center;
	gap: 40px;
	/* justify-content: center; */
}

.info-boxes-collection {
	display: flex;
	gap: 50px;
}

.info-box {
	text-align: center;
}

.info-box img {
	height: 200px;
	width: 300px;
	border-radius: 2px;
}

.testimonial {
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 600px;
	gap: 20px;
}

.testimonial-text {
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
}

.testimonial-by {
	font-weight: 900;
	align-self: end;
}

.cta {
	background-color: #3882f6;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	margin: 40px 350px;
	border-radius: 8px;
}

.cta-header {
	font-weight: 900;
	font-size: 24px;
}

.cta-btn {
	border: 1px solid white;
	border-radius: 8px;
	background-color: #3882f6;
	color: white;
	padding: 5px 15px;
	font-size: 18px;
	font-weight: 900;
}

footer {
	background-color: #1f2937;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}
